/* .Aboutrow{
    display: table-row;
  
}
.Aboutcol{
    display: table-cell;
}
.Aboutcol1{
    color:rgb(25, 244, 9);
} */
/* .image_shadow{
   cursor: pointer;
   filter:grayscale(100%);
}
.image_shadow:hover{
    filter: grayscale(0%);
}   */
/* .skills{
    background: var(--bg-color);
}
.skills.container{
    background: rgba(255, 255, 0, 0.6);
    color: var(--text-color);
    border-radius: 1rem;
    padding: 2rem;
    width: 70%;
    margin: auto;
    margin-top: 2rem;
}
.skills.container.row{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    flex-wrap: wrap;
    gap: 1.8rem;
}
.skills.container.bar{
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 1rem;
    background: var(--bg-color);
    box-shadow: 0 4px 10px var(--main-color);
    transition: 0.3s ease;
}
.skills.container.bar:hover{
    background: var(--main-color);
    box-shadow: 0 8px 10px var(--main-color);
}
.skills.container.bar.info{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
}
.skills.container.bar.info  span{
    font-size: 2rem;
    font-weight: 500;
    margin-left: 0.5rem;
    font-family: "Poppins";
}
@media screen and (max-width:600px){
    .skills.container{
        margin: 0;
        padding: 0;
    }
    .skills.container.row{
        grid-template-columns: repeat(2,1fr);
        margin: 1rem;
        padding: 2rem 0.2rem 2rem 0.2rem;
    }
} */



 /* .skills{
    width: 160px;
    height: 160px;
    /* background: cornflowerblue;
    position: relative;
    margin-left: 14%;
    margin-top: 10%;
}  

 .outer{
    height: 160px;
    width: 160px;
    border-radius: 50%;
   box-shadow: 6px 6px 10px -1px rgba(0,0,0,0.15),
                -6px -6px 10px -1px rgb(103, 255, 1);
    padding: 20px;
}
.inner{
    height: 120px;
    width: 120px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: inset 4px 4px 6px -1px rgba(0, 0, 0, 0.2),
                inset -4px -4px 6px -1px  rgb(103, 255, 1),
                -0.5px -0.5px 0px rgba(255,255,255,1),
                0.5px 0.5px 0px rgba(0,0,0,0.15),
                0px 12px 10px -10px rgba(0,0,0,0.05);

}
circle{
    fill: none;
    stroke: url(#GradientColor);
    stroke-width: 20px;
    stroke-dasharray: 472;
    stroke-dashoffset: 472;
    animation: anim 3s linear forwards;
}
svg{
    position:absolute;
    top: 46px;
    left: 12px;
}
@keyframes anim{
    100%{
        stroke-dashoffset: 135;
    }

} 
 .circle_per{
    fill: none;
    stroke: url(#GradientColor);
    stroke-width: 20px;
    stroke-dasharray: 472;
    stroke-dashoffset: 472;
    animation: ani 3s linear forwards;
} 
 @keyframes ani{
    100%{
        stroke-dashoffset: 0;
    }

}
.circle_per1{
    fill: none;
    stroke: url(#GradientColor);
    stroke-width: 20px;
    stroke-dasharray: 472;
    stroke-dashoffset: 472;
    animation: ani_1 3s linear forwards;
} 
 @keyframes ani_1{
    100%{
        stroke-dashoffset: 0;
    }
 }
 .circle_per2{
    fill: none;
    stroke: url(#GradientColor);
    stroke-width: 20px;
    stroke-dasharray: 472;
    stroke-dashoffset: 472;
    animation: ani_2 3s linear forwards;
} 
 @keyframes ani_2{
    100%{
        stroke-dashoffset: 0;
    }
 }
 .circle_per3{
    fill: none;
    stroke: url(#GradientColor);
    stroke-width: 20px;
    stroke-dasharray: 472;
    stroke-dashoffset: 472;
    animation: ani_3 3s linear forwards;
} 
 @keyframes ani_3{
    100%{
        stroke-dashoffset: 0;
    }
 }
 .circle_per4{
    fill: none;
    stroke: url(#GradientColor);
    stroke-width: 20px;
    stroke-dasharray: 472;
    stroke-dashoffset: 472;
    animation: ani_4 3s linear forwards;
} 
 @keyframes ani_4{
    100%{
        stroke-dashoffset: 0;
    }
 }

.number{
    color: white;
    font-weight: bold;
}
 .hello{
    color: white;
    font-weight: bold;
    font-size: 20px;
    margin-left: 35%;
    
 } */
